<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCM-v37vzfhVxW6Zri9mypU4NkOGTtq4o</string>
	<key>GCM_SENDER_ID</key>
	<string>400086634984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mustafabekirov.RemoteConfig</string>
	<key>PROJECT_ID</key>
	<string>remoteconfig-9c76e</string>
	<key>STORAGE_BUCKET</key>
	<string>remoteconfig-9c76e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400086634984:ios:76def7b602c84675c8145d</string>
</dict>
</plist>