<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32175509379-op9u6hu5cat432kalbnt94r1et6q6g49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32175509379-op9u6hu5cat432kalbnt94r1et6q6g49</string>
	<key>API_KEY</key>
	<string>AIzaSyDwk23GfEYdM7UINhLfIFprxBsTOL4G7ho</string>
	<key>GCM_SENDER_ID</key>
	<string>32175509379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.mustafos.CombineFr</string>
	<key>PROJECT_ID</key>
	<string>combinefr-4a13d</string>
	<key>STORAGE_BUCKET</key>
	<string>combinefr-4a13d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32175509379:ios:8188c2a43e958eacf330b6</string>
</dict>
</plist>